#container{
    border: 2px solid #000;
    height: 300px;
    width: 600px;
}
header{
    background-color: brown;
    height: 25px;
    padding: 20px;
}
#firstSection{
    background-color: #d86565;
    padding: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
#firstSection section{
    margin: 12px;
    padding: 35px;
    background-color: rgb(207, 179, 143);
}
#secondsection{
     margin-top: 0px;
    padding: 15px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}
#secondsection section{
    margin: 12px;
    padding: 35px;
    background-color: pink;
    
}